body {
  background-image: url("unsplash1.jpg");
  background-size: 100vw;
  background-color: rgb(51, 49, 51);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 6rem;
  line-height: 1.1;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.raster {
  display: grid;
  /* grid-template-rows: 200px; */
  /* grid-template-columns: 200px 200px 200px 200px 200px; */
  grid-template-columns: repeat(5 1fr);
  grid-gap: 15px;
  width: 200px;
  grid-auto-flow: row;
  margin: auto;
}

.raster div {
  color: white;
  border: 1px dotted white;
  background-color: firebrick;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*https://www.w3schools.com/css/css3_mediaqueries.asp */
@media screen and (max-width: 48em){
 body{
   background-image: url("unsplash2.jpg");
   background-size: cover;
   background-color: rgb(51, 49, 51);
   }
  .raster div {
    color: white;
    opacity: 0.7;
    background-color: seagreen;
  }
  .raster .P{
    grid-area: 1 / 1;
  }
  .raster .L{
    grid-area: 3 / 1;
  }
}
